*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
 font-size: 2rem;
 font-family: sans-serif;
 height: 100%;

}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 5rem;
    gap: 2rem;
    padding-top: 0;
}



.logo1{
    height: 5rem;
    margin-left: 5rem;
    margin-top: 1rem;
    border-radius: 1rem;
    margin-bottom: 0;
   
  }
.wrapper{
    background-image: url(../img/backgroundSly.webp);
    height: 100%;
    background-image: contain;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
}

.videoQ{
    font-size: 1.6rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
}
.standard{
    height: 50rem;
    width: 34rem;
    border: 5px solid rgba(10,161,221, 1);
    background: rgba(10, 161, 221, 0.8);
    box-shadow: 0 0 1rem 0 black;
    border-radius: 1rem;
    transition: 0.2s tranform;
  
    
}
.standard:hover{
    transform: scale(1.01);
}
.container { 
    margin-top: 9rem ;
    height: 5rem;
    height: 5rem;
    position: relative;
  }
  
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: -300%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
.button{
    height: 5rem;
    width: 20rem;
    background: rgba(7, 113, 155, 0.7);
    border: 5px solid rgba(10, 161, 221,1);;
    padding-bottom: 1.4rem;
    transition: 0.2s tranform;
    border-radius: 1rem;
}
.button:hover{
    cursor: pointer;
    transform: scale(1.06);
    
}
.delux{

    height: 50rem;
    width: 34rem;
    border: 5px solid rgba(10,161,221, 1);
    background: rgba(10, 161, 221, 0.8);
    box-shadow: 0 0 1rem 0 black;
    border-radius: 1rem;
    transition: 0.2s tranform;
}
.delux:hover{
    transform: scale(1.01);
}

.premium{
    height: 50rem;
    width: 34rem;
    border: 5px solid rgba(10,161,221, 1);
    background: rgba(10, 161, 221, 0.8);
    box-shadow: 0 0 1rem 0 black;
    border-radius: 1rem;
    transition: 0.2s tranform;
}
.premium:hover{
    transform: scale(1.01);
}

.edition{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 250%;
    font-family: sans-serif;
    border-bottom: 5px solid black;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    padding-bottom: 1.4rem;

}
.table{
    font-size: 1.7rem;
    padding: 1rem;
  
  
}
.tablei{
    padding-left: 1.4rem;  
}
.tableEnd{
    display: flex;
    align-items: flex-end;
    justify-content: end;
    padding-left: 1.4rem;
}


.description{
    padding: 1.4rem;
    
    font-weight: 600;
}
.text{
    font-size: 120%;
    padding:1.5rem;
    padding-bottom: 2rem;

}
