*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
}
  :root {
    --handle-size: 4rem;
    --img-gap: .35rem;
  }

  .good{
    height: 7rem;
    background: black;
    margin-bottom: 1rem; 
  }
  
nav{
  width: 60vw;
  height: 100%;
  margin-left: 2rem;

}

nav> ul{
  display: flex;
  list-style: none;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
}

nav> ul> li{
  width: 100%;
  height: 100%;
  font-size: 2rem;
   
}

nav> ul> li > a{
  height: 100%;
  width: 100%;
  display: block;
  text-align: center;
  line-height: 6rem;
  text-decoration: none;
  color: white;
}


  body {
    height: 100vh;
    background: #171010;
    color: white;
    font-family: sans-serif;
  }

  .inputs{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }


  .label{
    display: flex;
    align-items: center;
    margin-right: 1rem;
    font-size: 1.8rem;
  }

  .filter{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 2rem;
    margin-right: 2rem;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0.5rem;
    box-shadow: inset 0 0 0.5rem 0 rgba(0,0,0,0.2);
}

.filter:checked{
  background: #7FB5FF;
  border: 1px solid  rgb(10, 161, 221);
    
}

.filter:checked ~ .label{
    text-decoration: underline;
}

  .logo1{
    height: 5rem;
    margin-top: 1rem;
    border-radius: 1rem;
    left: 0%;
   
  }

  .container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    background: #171010;
  }
  
  .slider {
    --items-per-screen: 4;
    --slider-index: 0;
    display: flex;
    flex-grow: 1;
    margin: 0 var(--img-gap);
    transform: translateX(calc(var(--slider-index) * -100%));
    transition: transform 250ms ease-in-out;
    list-style: none;
    background: #171010;
  }


  .imgOP{
    transition: 0.2s transform;
  }
  .imgOP:hover{
  transform: scale(1.1);
  }
  .slider > li {
    flex: 0 0 calc(100% / var(--items-per-screen));
    max-width: calc(100% / var(--items-per-screen));
    aspect-ratio: 16 / 9;
    padding: var(--img-gap);
    border-radius: 1.6rem;
    
  }
  

  .slider >li img{
    max-width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 1.6rem;
    
  }
  
  .handle {
    border: none;
    border-radius: 1.6rem;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, .5);
    z-index: 10;
    margin: var(--img-gap) 0;
    width: var(--handle-size);
    cursor: pointer;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    line-height: 0;
    transition: background-color 150ms ease-in-out;
    
  }
  
  .left-handle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .right-handle {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .handle:hover,
  .handle:focus {
    background-color: rgba(255, 255, 255, .5);
  }
  
  .text {
    transition: transform 150ms ease-in-out;
  }
  
  .handle:hover .text,
  .handle:focus .text {
    transform: scale(1.2);
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    padding: .5rem calc(var(--img-gap) * 2 + var(--handle-size));
    align-items: center;
    background: #171010;
   
  }
  .title {
    font-size: 3.3rem;
    margin: 0;
  }
  
  .progress-bar {
    display: flex;
    gap: .355rem;
  }
  
  .progress-item {
    flex: 0 0 2.1rem;
    min-width: 2.1rem;
    height: .5rem;
    background-color: rgba(255, 255, 255, .5);
  }
  
  .progress-item.active {
    background-color: rgba(255, 255, 255, .9);
  }

  .hide {
    display: none;
    background: #171010;

  }
  
.footer{
    height: 10rem;
    bottom: 0;
    background:  black;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .footer p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
  }

  .result {
    margin-top: 2rem;
    border-radius: 10px;
    padding: 2rem;

    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .fo {
    padding: 0.75rem;
    margin-bottom: 0.5rem;
    border-radius: 10px;
    background: #7FB5FF;
    border: 1px solid  rgb(10, 161, 221);
    color: #fff;
    cursor: pointer;
    outline: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    display: block;
  }

  @media (max-width: 1000px) {
    .slider {
      --items-per-screen: 3;
    }
    body{
      height: 100vh;
      width: 100vw;
    }

  }
  
  @media (max-width: 500px) {
    .slider {
      --items-per-screen: 2;
    }
    body{
      height: 100vh;
      width: 100vw;
    }
    
  }
  

